@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
    width: 100%;
    padding: 0.9rem 1rem;
    border-radius: 0.5rem;
    color: #111;
    background: #fff;
    font-size: 0.95rem;
}
html {
    scroll-behavior: smooth;
}
