@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

.input {
    @apply w-full px-4 py-3 rounded-md bg-white text-slate-900
         border border-slate-300
         placeholder-slate-400
         focus:outline-none focus:ring-2 focus:ring-brand-accent focus:border-brand-accent;
}
